/* Nav.js */
.nav {
  background-color: cornflowerblue;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Main */
.main {
  text-align: center;
}
form {
  margin: 30px;
}
.mvChart {
  width: 500px;
  margin: 0 auto;
}
.mvChartTitle {
  display: flex;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
} 
.mvChartTitle > span {
  padding: 10px 20px;
}
.mvChartContent {
  display: flex;
  width: 100%;
  border-bottom: 3px solid cornflowerblue;
}
.mvChartContent:hover {
  background-color:burlywood;
  color: white;
}
.rank {
  width: 10%;
} 
.movieNm {
  width: 45%;
}
.salesShare {
  width: 20%;
}
.audiAcc {
  width: 25%;
}
.mvChartContent > span {
  padding: 10px 20px;
}

/* detail.js */
a {
  text-decoration: none;
  color: black;
}
.goHome {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.goHome a {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.goHome a:hover {
  background-color:burlywood;
  color: white;
}
.detail {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  border: 5px solid cornflowerblue;
  border-radius: 10px;
}
.detailTitle {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.detailContent {

}
.detailContentItem {
  display: flex;
  width: 100%;
  padding: 10px 20px;
}
.key {
  width: 30%;
}
.value {
  width: 70%;
}